body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(3, 3, 3);
  background: linear-gradient(180deg, rgba(3, 3, 3, 1) 29%, rgba(4, 116, 139, 1) 100%) no-repeat;
  height: 100vh;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.homeButton {
  border-color: rgba(255, 255, 255, 0.548);
  color: white;

  &:hover {
    background-color: orangered;
  }
}

.hero-section {
  padding-top: 300px;
}
